<html>

<head>
    <title>Symbiosis Staffing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/upload.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/slide.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/fade.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/carousel.css">
    <script src="javascripts/validation.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="top-social hidden-sm text-center col-sm-4">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="top-info col-sm-8">
                    <ul>
                        <li><a href="career"><i class="fa fa-sign-in"></i>Careers</a></li>
                        <li><a href="#"><i class="fa fa-phone">Contact:+1 307-222-2805</i></a></li>
                        <li><a href="mailto:info@Symbiosisstaffing.com"><i class="fa fa-envelope">info@Symbiosisstaffing.com</i></a></li>
                        <li><a href="" data-toggle="modal" data-target="#myModal1">Upload Resume</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal1" class="modal fade uploadForm">
        <div class="modal-dialog form-content">
            <h1>Upload Your Resume</h1>
            <form name="upload" onsubmit="return formValidation()">
                <input type="text" id="name" name="name" placeholder="Name*">
                <p id="nameError" class="error" style="display:none;"></p>
                <input type="email" id="email" name="email" placeholder="Email*">
                <p id="emailError" class="error" style="display:none;"></p>
                <input type="text" id="phone" placeholder="Contat*">
                <p id="phoneError" class="error" style="display:none;"></p>
                <input type="file" id="file">
                <p id="fileError" class="error" style="display:none;"></p>
                <input type="checkbox" name="checkbox" id="terms">
                <i> </i>I agree to Terms and Conditions.
                <div>
                    <input type="submit" value="Send" id="send">
                </div>
            </form>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class=" col-sm-2">
                <img class="logo-img" src="images/logo.png">
            </div>
            <div class="navmenu  col-sm-10">
                <ul class="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="career">Careers</a></li>
                    <li><a href="industry">Industry Focus</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="content">
            <div class="about-image">
                <img src="images/banner-inner.jpg">
                <div class="comming-soon">
                    <h1>Comming Soon</h1>
                </div>
            </div>

        </div>
    </div>







    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="about col-sm-4">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="services">Services</a></li>
                        <li><a href="career">Careers</a></li>
                        <li><a href="industry">Industry Focus</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>

                </div>
                <div class="contact col-sm-8">
                    <h3>Contact us</h3>
                    <div class="contact-icon col-sm-6" style="padding:0px;">
                        <ul style="padding:0px;">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><b>US</b> - 1603 Capitol Ave.,
                                <span>Suite 310 A411, Cheyenne, </span><span>Wyoming - 82001.</span></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+13072222805">+1 307-222-2805</a>                                <span> Fax: <a href="fax:+13072227228">+1 307-222-7228</a></span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@symbiosisstaffing.com">info@symbiosisstaffing.com</a></li>
                        </ul>
                    </div>
                    <div class="contact-icon col-sm-6">
                        <ul style="padding:0px;">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><b>India</b> - #541, 2nd Floor,
                                <span>5th Main, 16th Cross,</span><span>Indiranagar 2nd Stage, </span><span>Bangalore - 38.</span></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+918042743030">+91 80-42743030/ 41/ 44/ 49</a></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@symbiosisstaffing.com">info@symbiosisstaffing.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright @ 2017
                <a href="#">Symbiosis Networks</a>
            </div>
        </div>
    </div>
</body>

</html>